<h2>My Tasks</h2>

<table border="1">
  <tr>
    <th>
      ID
    </th>
    <th>
      TITLE
    </th>
    <th>
      DESCRIPTION
    </th>
    <th>
      CREATED AT
    </th>
    <th>
      UPDATED AT
    </th>
    <th>
      DUE DATE
    </th>
    <th>
      RESOLVED AT
    </th>
    <th>
      PRIORITY
    </th>
    <th>
      STATUS
    </th>
  </tr>

  <tr [class.selected]="task === selectedTask" *ngFor="let task of tasks">
      <td (click)="onSelect(task)">
        {{task.id}}
      </td>
      <td (click)="onSelect(task)">
        {{task.title}}
      </td>
      <td (click)="onSelect(task)">
        {{task.description}}
      </td>
      <td (click)="onSelect(task)">
        {{task.createdAt}}
      </td>
      <td (click)="onSelect(task)">
        {{task.updatedAt}}
      </td>
      <td (click)="onSelect(task)">
        {{task.dueDate}}
      </td>
      <td (click)="onSelect(task)">
        {{task.resolvedAt}}
      </td>
      <td (click)="onSelect(task)">
        {{task.priority}}
      </td>
      <td (click)="onSelect(task)">
        {{task.status}}
      </td>

    </tr>

</table>
<app-task-detail [task]="selectedTask"></app-task-detail>
