<div *ngIf="task">

  <h4>{{ task.title| uppercase }} Title</h4>
  <div><span>id: </span>{{task.id}}</div>
  <div><span>created at: </span>{{task.createdAt}}</div>
  <div><span>updated at : </span>{{task.updatedAt}}</div>
  <div><span>resolved at : </span>{{task.resolvedAt}}</div>
  <div><span>status : </span>{{task.status}}</div>

  <div>
    <P>
      <label>name:
        <input [(ngModel)]="task.title" placeholder="title"/>
      </label>
    </P>
    <P>
      <label>description:
        <input [(ngModel)]="task.description" placeholder="description"/>
      </label>
      </P>
    <P>

      <label>dueDate:
        <input [(ngModel)]="task.dueDate" placeholder="dueDate"/>
      </label>
    </P>
    <P>
      <label>dueDate:
        <input [(ngModel)]="task.priority" placeholder="priority"/>
      </label>
    </P>
  </div>

</div>
